
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
body {
    background-color: rgb(245, 227, 69);
  }
.nav-item {
    font-size: 25px;
}
